<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-6 offset-3">
            <h3 class="mt-3">Sign Up on Wanderlust</h3>
    <form method="POST" action="/signup" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
             <input name="email" id="email" placeholder="enter your email" type="email" class="form-control" required>
             <div class="invalid-feedback">Email is required</div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
             <input name="username" id="username" placeholder="enter your username" type="text" class="form-control" required>
             <div class="invalid-feedback">Please Enter Username</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
             <input name="password" id="password" placeholder="enter your password" type="password" class="form-control" required>
             <div class="invalid-feedback">Set a password</div>
        </div>
       
        
      
        <br>
        
        <button class="btn btn-dark">Add</button>

        <br><br>
    </form>
    </div>
    </div>
</body>
